In [1]:
import pandas as pd
import matplotlib
import numpy as np
import glob
import os

In [2]:
carpeta = "./DATOS/"

In [3]:
def convertir_to_DataFrame(name_file: str):

    file1 = pd.read_excel(name_file,)
    df = pd.DataFrame(file1)
    return df

In [4]:
documento = "./DATOS/MATRICULADOS_DETALLADO.xlsx"
df1 = convertir_to_DataFrame(documento)

In [5]:
df1.head()

,CODIGO_SEDE,SEDE,CODIGO_REGIONAL,REGIONAL,FICHA,ESTADO_FICHA,CODIGO_PROGRAMA,VERSION_PROGRANA,PROGRAMA,NIVEL_DE_FORMACION,...,NOMBRE,PRIMER_APELLIDO,SEGUNDO_APELLIDO,ESTADO_APRENDIZ,IDENTIFICADOR_CONVENIO,AMPLIACION_COVERTURA,CONVENIO,TIPO_DOCUMENTO_EMPRESA,NUMERO_DOCUMENTO_EMPRESA,EMPRESA
0,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,ALEXIS ALBERTO,OJEDA,NARVAEZ,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
1,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,DIEGO ARMANDO,HURTADO,MOSQUERA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
2,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,DAIR FERNEY,PALECHOR,MACA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
3,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,ALEXANDER,CHANTRE,CUASTUMAL,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
4,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,JUAN DAVID,SANCHEZ,SILVA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33051 entries, 0 to 33050
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CODIGO_SEDE               33051 non-null  int64
 1   SEDE                      33051 non-null  object
 2   CODIGO_REGIONAL           33051 non-null  int64
 3   REGIONAL                  33051 non-null  object
 4   FICHA                     33051 non-null  int64
 5   ESTADO_FICHA              33051 non-null  object
 6   CODIGO_PROGRAMA           33051 non-null  int64
 7   VERSION_PROGRANA          33051 non-null  int64
 8   PROGRAMA                  33051 non-null  object
 9   NIVEL_DE_FORMACION        33051 non-null  object
 10  TIPO_DOCUMENTO            33051 non-null  object
 11  NUMERO_DOCUMENTO          33051 non-null  int64
 12  NOMBRE                    33051 non-null  object
 13  PRIMER_APELLIDO           33051 non-null  object
 14  SEGUNDO_APELLIDO          32170 non-null  object
 15  ESTADO_APRENDIZ           33051 non-null  object
 16  IDENTIFICADOR_CONVENIO    33051 non-null  int64
 17  AMPLIACION_COVERTURA      1749 non-null   object
 18  CONVENIO                  1749 non-null   object
 19  TIPO_DOCUMENTO_EMPRESA    0 non-null      float64
 20  NUMERO_DOCUMENTO_EMPRESA  0 non-null      float64
 21  EMPRESA                   0 non-null      float64
dtypes: float64(3), int64(7), object(12)
memory usage: 5.5+ MB

In [7]:
df1.columns.to_list()

['CODIGO_SEDE',
 'SEDE',
 'CODIGO_REGIONAL',
 'REGIONAL',
 'FICHA',
 'ESTADO_FICHA',
 'CODIGO_PROGRAMA',
 'VERSION_PROGRANA',
 'PROGRAMA',
 'NIVEL_DE_FORMACION',
 'TIPO_DOCUMENTO',
 'NUMERO_DOCUMENTO',
 'NOMBRE',
 'PRIMER_APELLIDO',
 'SEGUNDO_APELLIDO',
 'ESTADO_APRENDIZ',
 'IDENTIFICADOR_CONVENIO',
 'AMPLIACION_COVERTURA',
 'CONVENIO',
 'TIPO_DOCUMENTO_EMPRESA',
 'NUMERO_DOCUMENTO_EMPRESA',
 'EMPRESA']

In [8]:
def all_files(carpeta):
    BD = {}
    name_rows = {}
    # Iterar sobre los archivos en la carpeta
    for archivo in glob.glob(os.path.join(carpeta, "*.xlsx")):
        if os.path.isfile(archivo):
            name_file = archivo.split("/", maxsplit=2)[2].split(".")[0]
            print(name_file)
            df = convertir_to_DataFrame(archivo)
            name_rows[name_file] = df.columns.to_list()
            BD[name_file] = df
    return name_rows, BD